<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t"shared._error_messages.error"%> <%= pluralize(object.errors.size, "error") %>.
    </div>
    <ul>
      <% object.errors.full_messages.each do |errors| %>
        <li><%= errors %></li>
      <% end %>
    </ul>
  </div>
<% end %>
